flake8==5.*
Jinja2==3.*
matplotlib==3.*
numpy==1.*
pandas==1.*
plotly==5.*
plotly-express==0.*
psycopg2==2.*
pyarrow==6.0.*
pypirc==1.*
pytest==7.*
python-dateutil==2.*
PyYAML==6.0
scikit-learn==1.*
scikit-optimize==0.*
scipy==1.*
seaborn==0.*
sqlalchemy==1.*
statsmodels==0.*
urllib3==1.*
